<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <table>
        <tr>
            <th>file name</th>

        </tr>
        <tr th:each="file : ${filesList}">
            <td th:utext="${file.getFileName()}">...</td>
            <td><a th:href="@{showFiles/{fileName}(fileName=${file.getFileName()})}">show</a></td>
        </tr>
    </table>
</div>
</body>
</html>